
body {
   margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
    }
.banner_filmografia{
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("galeria-filmes/filmografia.jpg");
  background-size: cover;
  color: white;
  /* font-weight: bold; */
  letter-spacing: 2px;
}
.header_filmografia{
   height: 15%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.header{
   position: fixed;
   display: flex;
   justify-content: flex-end;
   justify-content: left;
   align-items: center;
   background-color: rgba(0, 0, 0, 0);
   height: 10vh;
   width: 100vw;
}
.header_filmografia .div_logo{
   display: flex;
   
   flex-direction: column;
   align-items: center;
   
   color: white;
   width: 20vw;
   line-height: 0.2;
}
.logo_romaji{
   font-size: 20px;
   
}
.header_filmografia ul{
   margin-left: 30vw;
   display: flex;
   justify-content: space-around;
   width: 40vw;

}
li{
   list-style: none;
}
a{
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.container{
   height: 90%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   justify-content: flex-start;
}
select{
   width: 30%;
   margin-left: 35%;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
img{
      margin: auto;
      height: 300px;
    }
.lista{
   margin-top: 2%;
   width: 80vw;
   display: flex;
   justify-content: space-evenly;
   margin-left: 10%;
}
.card1, .card2, .card3, .card4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 25px;
width: 20%;
}
.container{
   height: 50%;
}
    
   