body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
.header_minigame{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 }
 /* .header{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    justify-content: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 15%;
    width: 100vw;
    padding: 20px;
 } */
 .header_minigame .div_logo{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
    color: white;
    width: 20vw;
    line-height: 0;
 }
 .logo_romaji{
    font-size: 20px;
    
 }
 .header_minigame ul{
    margin-left: 30vw;
    display: flex;
    justify-content: space-around;
    width: 40vw;
 
 }
 li{
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 }
 .banner_minigame{
    background-image: url("galeria-filmes/ponte.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 img{
    height: 400px;
 }
 .select_game{
    margin-top: 2%;
 }
 .btn_minigame{
    margin-top: 2%;
    border-radius: 40px;
   border: 1px solid #abbe6c;
    height: 10%;
    width: 10%;
    font-size: 20px;
    transition-duration: 0.4s;
 }
.btn_minigame:hover{
    background-color: #abbe6c;
    color: white;
}
.select_game{
   height: 5%;
   width: 20%;

   font-size: 20px;
}