body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
a {
   position: relative;
   color: #fff;
   text-decoration: none;  
 }
a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: #fff;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
 }
 
 a:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }
.header_minigame{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 }
 .header_minigame .div_logo{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
    color: white;
    width: 20vw;
    line-height: 0;
 }
 .logo_romaji{
    font-size: 20px;
    
 }
 .header_minigame ul{
    margin-left: 30vw;
    display: flex;
    justify-content: space-around;
    width: 40vw;
 
 }
 li{
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 }
 /* MINIGAME */
 .banner_minigame{
    background-image: url("galeria-filmes/ponte.jpg");
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
 }
 input{
    width: 50%;
    height: 10%;
    font-size: 20px;
    padding: 10px;
    margin-left: 20%;
    margin-top: 3%;
 }
 select{
    width: 30%;
    font-size: 20px;
    padding: 10px;
 }
 .instrucao{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .botoes_style{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .funcoes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 }
 .start{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

 }
 p{
    font-size: 25px;
 }
 img{
    height: 300px;
    margin-top: 3%;
 }
 .select_game{
    margin-top: 2%;
 }
 .btn_jogar{
    margin-top: 2%;
    border-radius: 40px;
   border: 1px solid #abbe6c;
    height: 60%;
    width: 40%;
    font-size: 20px;
    transition-duration: 0.4s;
 }
.btn_jogar:hover{
    background-color: #abbe6c;
    color: white;
}
.btn_confirmar{
   margin-top: 2%;
   border-radius: 40px;
  border: 1px solid #abbe6c;
   height: 60%;
   width: 30%;
   font-size: 20px;
   transition-duration: 0.4s;
}
.btn_confirmar:hover{
   background-color: #abbe6c;
   color: white;
}
.btn_encerrar{
   margin-top: 2%;
   border-radius: 40px;
  border: 1px solid #abbe6c;
   height: 60%;
   width: 30%;
   font-size: 20px;
   transition-duration: 0.4s;
}
.btn_encerrar:hover{
   background-color: #abbe6c;
   color: white;
}
.btn_dica{
   margin-top: 2%;
   border-radius: 40px;
  border: 1px solid #abbe6c;
   height: 60%;
   width: 30%;
   font-size: 20px;
   transition-duration: 0.4s;
}
.btn_dica:hover{
   background-color: #abbe6c;
   color: white;
}
.select_game{
   height: 5%;
   width: 20%;

   font-size: 20px;
}
/* FOOTER */
.footer_page{
   height: 10vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
   font-size: 20px;
   background-color:#030303;
   color: white;
}
.by{
   font-size: 15px;
}
   