body{
    margin: 0;
    padding: 0;
    
}
.Container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
}
.Banner_user{
    height: 100%;
    width: 15vw;
    background-color: red;
}
.Conteudo{
    height: 100%;
    width: 100vw;
    background-color: blueviolet;
    
}
.Conteudo .linha1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    background-color: blue;
}
.linha2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    background-color: green;
}
.linha3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    background-color: yellow;
}
.linha4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    background-color: pink;
}
.linha5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    background-color: pink;
}
.card_nausicaa{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/nausicaa.jpg);
    background-size: cover;
}
.card_laputa{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/laputa.jpg);
    background-size: cover;
}
.card_totoro{
    
    background-image: url(galeria-filmes/totoro.jpg);
    background-size: cover;
    height: 90%;
    width: 15%;
}
.card_vagalumes{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/vagalumes.jpg);
    background-size: cover;
}
.card_kiki{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/kiki.jpg);
    background-size: cover;
}
.card_memorias{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/memorias-de-ontem.jpg);
    background-size: cover;
}

.card_porco{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/Porco_Rosso.jpg);
    background-size: cover;
}
.card_oceano{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/eu-posso-ouvir-o-oceano.jpg);
    background-size: cover;
}
.card_pompoko{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/pompoko.jpg);
    background-size: cover;
}
.card_sussurros{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/SUSSURROS-DO-CORAÇÃO.jpg);
    background-size: cover;
}
.card_mononoke{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/mononoke-hime.jpg);
    background-size: cover;
}
.card_yamada{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/meus-vizinhos-os-yamada.jpg);
    background-size: cover;
}

.card_chihiro{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/viagem-chihiro.jpg);
    background-size: cover;
}
.card_gatos{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/reino-dos-gatos.jpg);
    background-size: cover;
}
.card_castelo_animado{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/o-castelo-animado.jpg);
    background-size: cover;
}
.card_terramar{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/terramar.jpg);
    background-size: cover;
}
.card_ponyo{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/ponyo.jpg);
    background-size: cover;
}
.card_arietty{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/o-mundo-dos-pequeninos.jpg);
    background-size: cover;
}

.card_colina{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/colina.jpg);
    background-size: cover;
}
.card_vidas_ao_vento{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/vidas-ao-vento.jpg);
    background-size: cover;
}
.card_kaguya{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/o-conto-da-princesa-kaguya.jpg);
    background-size: cover;
}
.card_marnie{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/as-memorias-de-marnie.jpg);
    background-size: cover;
}
.card_aya{
    height: 90%;
    width: 15%;
    background-image: url(galeria-filmes/aya-e-a-bruxa.jpg);
    background-size: cover;
}
